{% extends 'base.html.twig' %}

{% block title %}Tous nos Produits{% endblock %}

{% block body %}
    <div class="body-content outer-top-vs" id="top-banner-and-menu">
  <div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-3 sidebar"> 
   <div id="hero">
    
        </div>
        </div>
  </div>
        
       
               <!-- ============================================== Produit ============================================== -->
        <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
          <div class="more-info-tab clearfix ">
            <h3 class="new-product-title pull-left"> Les Produits Njaboot</h3>

            
            <!-- /.nav-tabs --> 
          </div>
          <div class="tab-content">
            <div class="tab-pane in active">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
           
                 {% for produit in produits %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image"> 
                            <img src="{{ vich_uploader_asset(produit, 'imageFile') }}"  alt="Produit Njaboot" style="witdh:225px;height:225px;">
                          </div>
                          <!-- /.image -->
                          
                        </div>
                        <!-- /.product-image -->
                        
                        <div class="product-info text-left">
                          <h3 class="name"><a href="#">{{ produit.nomProd }}</a></h3>
                          <div class="rating rateit-small"></div>
                          <div class="description">{{ produit.etat }}</div>
                          <div class="product-price"> <span class="price">{{ produit.prixHt }}</span> <span class="price-before-discount">{{ produit.prixTTC }}(Livraison)</span> </div>
                          <!-- /.product-price --> 
                          <div class="description">{{ produit.categorie.nom }}</div>
                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              
                              <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="{{ path('detail_produit', {'id': produit.id}) }}" title="Details"> <i class="icon fa fa-search"></i> </a> </li>
                             
                              <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" title="Ajouter au panier" href="{{ path('panier_add', {'id': produit.id}) }}"> <i class="fa fa-shopping-cart"></i> </a> </li>
                             
                              </ul>
                          </div>
                          <!-- /.action --> 
                        </div>
                        <!-- /.cart --> 
                      </div>
                      <!-- /.product --> 
                      
                    </div>
                    <!-- /.products --> 
                  </div>
                  <!-- /.item -->
                  {% endfor %}
              
      
                  
                 
                </div>
                <!-- /.home-owl-carousel --> 
              </div>
              <!-- /.product-slider --> 
            </div>
            <!-- /.tab-pane -->
            
         
            <!-- /.tab-pane --> 
            
          </div>
          <!-- /.tab-content --> 
        </div>
        

        
        <!-- /.scroll-tabs --> 
        <!-- ============================================== SCROLL TABS : END ============================================== --> 
        
        </div>
    

      
       <!-- ============================================== INFO BOXES ============================================== -->
       
        <!-- ============================================== INFO BOXES : END ============================================== --> 
        
        
         

        <!-- ============================================== FEATURED PRODUCTS ============================================== -->
         
        <!-- ============================================== FEATURED PRODUCTS : END ============================================== --> 

    
     <div class="container">
    
    <!-- /.row --> 
    <!-- ============================================== BRANDS CAROUSEL ============================================== -->
    
    <!-- /.logo-slider --> 
    <!-- ============================================== BRANDS CAROUSEL : END ============================================== --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /#top-banner-and-menu --> 

<section class="bottom-section">
<div class="container">
<div class="row">




</div>



          <!-- /.sidebar-widget-body --> 
        </div>
        <!-- /.sidebar-widget --> 
       
</section>

   
{% endblock %}
